/* Variables */
:root {
  --bg-color: #0f172b;
  --text-color: #f7f7f7;
  --text-color-1: #c7d5e9;
  --text-color-2: #94a3b8;
  --text-color-3: #38bcf8;
  --cursorX: 0;
  --cursorY: 0;
}

.text-3 {
  color: var(--text-color-3);
}

.text-2 {
  color: var(--text-color-2);
}

.text-1 {
  color: var(--text-color-1);
}

.text-0 {
  color: var(--text-color);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

hr {
  margin: 0 auto;
  width: 20%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#cursor {
  pointer-events: none;
  display: none;
  position: fixed;
  top: var(--cursorY);
  left: var(--cursorX);
  z-index: 1000;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition-timing-function: ease-in-out;
}

.gradient-wrapper {
  /* background: #0f172b; */
  position: relative;
}

.bg-grid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e"), url("./assets/images/hero-dark.jpg");
  background-position: 0 0, 50% 50%;
  /* background-size: 0, cover; */
}

@media (min-width: 900px) {
  .hero-container {
    background: linear-gradient(to right,
        var(--text-color-2) 2px,
        transparent 2px) 0 0,
      linear-gradient(to right, var(--text-color-2) 2px, transparent 2px) 0 100%,
      linear-gradient(to left, var(--text-color-2) 2px, transparent 2px) 100% 0,
      linear-gradient(to left, var(--text-color-2) 2px, transparent 2px) 100% 100%,
      linear-gradient(to bottom, var(--text-color-2) 2px, transparent 2px) 0 0,
      linear-gradient(to bottom, var(--text-color-2) 2px, transparent 2px) 100% 0,
      linear-gradient(to top, var(--text-color-2) 2px, transparent 2px) 0 100%,
      linear-gradient(to top, var(--text-color-2) 2px, transparent 2px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 20px 20px;
  }
}

.anchor {
  z-index: 1;
  transition: all 0.2s;
  position: relative;
  max-width: fit-content;
  display: block;
  margin: 0 auto;
}

.anchor:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.button {
  display: block;
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #0f172b;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s;
  position: relative;
  transform: translate(0);
  box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.button:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.button_bg-grad {
  z-index: -2;
  background: linear-gradient(20deg, #ddedff 0%, var(--text-color-3) 100%);
  background-position: 0 0;
  background-size: cover;
  border-radius: 4px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0.5rem, 0.5rem);
  pointer-events: none;
}

.aboutme-container {
  background: radial-gradient(circle at center 0%, rgb(63, 61, 192) -200%, var(--bg-color) 60%) no-repeat;
}

.projects-container {
  background: radial-gradient(circle at center, rgb(63, 61, 192) -100%, var(--bg-color) 60%) no-repeat;
}

.box-shadow-gray {
  box-shadow: inset 0 0 0 1px #ffffff1a;
  ;
}

.link-w-svg:hover svg path {
  fill: var(--text-color-3);
  transition: all 0.2s;
}

.link-w-svg:hover p {
  color: var(--text-color-3);
  transition: all 0.2s;
}

.animate-rotate {
  animation: rotate 9s linear infinite;
}

.still-child {
  animation: rotate-reverse 9s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse {

  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}